/*
 *   Index
 */

body {
    background-color: #ccccff;

}

#header {

}

#footer {

}

#header>ul{
    list-style-type: none;
    height: 40px;
    border: black solid 2px;
    clear: left;
    padding: 0;

}

#header>ul>li {
    display: inline-block;
    margin: 10px;
}
#employers {

}

.libutton{
    border: solid black 2px;
    padding: 3px;
    background-color: #9999ff;

}

.listing {
    margin: 5px;
    float: left;
    clear: left;
    border: solid black 2px;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}

/*
 *   Map
 */
#mapcontainer{
    text-align: center;
}

#map {
    width: 800px;
    height: 800px;
    display: inline-block;
}




/*
 *   Coursera
 */



/*
 *
 */




/*
 *
 */



/*
 *
 */




/*
 *
 */